@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Darker+Grotesque:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fff;
  --scrollbar-bg: #c9e1ff;
  --scrollbar-thumb: #4e4eff;
  --menu-bg: #4f4fff;
  --menu-btn-bg: #282866;
  --menu-btn-active-bg: #74fffe;
  --menu-line-bg: #74fffe;
  --menu-line-active-bg: #292967;
  --menu-text: #fff;
  --menu-text-hover: #edf82d;
  --default-btn-bg: #edf82d;
  --arrow-color-bg: #282866;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

.wrap_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.max_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 113.59px; */
  padding: 0 4%;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-start {
  @apply flex items-start justify-start;
}

.flex-end {
  @apply flex items-center justify-end;
}

.flex-between {
  @apply flex items-center justify-between;
}

/* Menu Reveal */

#hamburger {
  position: relative;
  width: 58px;
  height: 58px;
  background: var(--menu-btn-bg);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#hamburger.active {
  background: var(--menu-btn-active-bg);
}

#hamburger span {
  position: absolute;
  display: inline-block;
  width: 27px;
  height: 2px;
  background: var(--menu-line-bg);
  transition: transform 0.25s;
}

#hamburger span:nth-child(1) {
  top: 54%;
}

#hamburger span:nth-child(2) {
  top: 40%;
}

#hamburger.active span {
  top: unset;
  background: var(--menu-line-active-bg);
}

#hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
}

#hamburger.active span:nth-child(2) {
  transform: rotate(-45deg);
}

.overlay {
  height: 100vh;
  top: -5px;
  left: 0;
  z-index: 0;
  display: none;
  position: fixed;
  width: 100vw;
}

.overlay svg path {
  fill: var(--menu-bg);
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.menu .primary-menu a {
  position: relative;
  top: 120px;
  text-decoration: none;
  color: var(--menu-text);
  cursor: pointer;
}

.menu .primary-menu {
  align-self: flex-end;
  position: relative;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .primary-menu a {
  text-transform: capitalize;
  font-size: 138px;
  font-weight: 600;
  line-height: 101.47px;
  right: 10%;
  transition:
    color 0.5s ease,
    right 0.5s linear;
}

.menu .primary-menu a:hover {
  /* .menu .primary-menu a.active-link { */
  color: var(--menu-text-hover) !important;
  right: 0 !important;
}

.menu-item {
  position: relative;
  line-height: 0;
}

.menu-item:after {
  content: '';
  position: absolute;
  top: 130px;
  left: -100px;
  width: 120%;
  height: 200%;
  background: var(--menu-bg);
  margin: 0 auto;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu .menu-container .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.primary-menu .menu-container .wrapper img {
  transform: translate(0, 15px);
  opacity: 0;
  transition: opacity 0.5s linear;
}

.primary-menu
  .menu-container
  .wrapper
  .menu-item:has(a:not(:focus, :active):hover)
  img {
  opacity: 1 !important;
}

.menu .secondary-menu a,
.menu .secondary-menu a ~ p {
  position: relative;
  top: 150px;
  text-decoration: none;
  color: var(--menu-text);
}

.secondary-menu .btn.menu-item:after {
  top: 150px;
}

.secondary-menu .list .menu-item:after {
  left: 0px;
}

/* Button Hover */
.c-button:focus,
.c-button:hover {
  text-decoration: none;
}

.c-button.-primary {
  --button-color-bg: var(--default-btn-bg);
  --button-color-text: var(--arrow-color-bg);
  --button-hover-color-bg: var(--button-color-text);
  --button-hover-color-text: var(--button-color-bg);
}

.c-button:hover,
.c-button:focus-visible {
  color: var(--button-hover-color-text, currentColor) !important;
}

.c-button {
  --button-width: auto;
  --button-height: 3.5rem;
  --button-padding-x: calc(0.6 * var(--button-height));
  display: inline-block;
  width: var(--button-width);
  font-size: 1rem;
  color: var(--button-color-text, currentColor) !important;
  border-radius: var(--button-height);
  transition: color 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.c-button.default {
  --button-width: 147.2px;
  --button-height: 147.2px;
  --button-padding-x: 0;
}

.c-button {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: none transparent;
  color: inherit;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.c-button *,
.c-button *:after,
.c-button *:before {
  position: relative;
  outline: none;
}

.c-button_inner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  flex-shrink: 0;
  width: 100%;
  height: var(--button-height);
  padding-right: var(--button-padding-x);
  padding-left: var(--button-padding-x);
  background-color: var(--button-color-bg, transparent);
  border-radius: inherit;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.c-button_label {
  display: block;
  letter-spacing: 0.16em;
  font-size: 0.75rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.c-button:hover .c-button_inner:after,
.c-button:focus-visible .c-button_inner:after {
  opacity: 1;
  border-radius: 0;
  transform: translate(0);
  transition:
    border-radius 0.45s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.c-button_inner:after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover-color-bg, transparent);
  border-radius: 100%;
  opacity: 0;
  transform: translate(0, 100%);
  transition:
    opacity 0.45s cubic-bezier(0.215, 0.61, 0.355, 1),
    border-radius 0s 0.45s,
    transform 0s 0.45s;
}

.c-button_label svg path,
.c-button_label img {
  fill: var(--button-color-text);
}

.c-button:hover .c-button_label svg path,
.c-button:hover .c-button_label img {
  fill: var(--button-hover-color-text);
}

/* Circular Carousel */
.circular-carousel > svg {
  /* visibility: hidden; */
  position: absolute;
  fill: transparent;
}

/* .circular-carousel .circular-wrapper.active-card {
  background: var(--menu-bg);
}

.circular-carousel .circular-wrapper.active-card p {
  color: var(--menu-btn-active-bg);
}

.circular-carousel .circular-wrapper.active-card .circular-arrow {
  fill: #edf82d;
} */
